/* ===============Checkbox group================== */

.cmp-adaptiveform-checkboxgroup {
    @include common-input-elements;
    &__widget {
      @include list;
    }

    &__label-container {
      padding-block-start: 2*$space-xs;
    }

    &__label {
      @include static-label;
    }

    &-item {
      @include list-item;
    }

    &__option-label {
      display: flex;
      align-items: center;
      column-gap: $space-xs;
      width: 100%;
    }
    
    &__option__widget {
      height: 1rem;
      width: 1rem;
      }

}

