//== Defaults
html,
html body {
  color: $dark-gray;
  font-size: $font-m;
  background: url(./resources/images/bg.png) center top / cover no-repeat;
  background-repeat: no-repeat;
  font-family: SourceSans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

*,*:before,*:after {
  box-sizing: inherit;
}

.aem-Grid {
  @include generate-grid(default, $max_col);
}

// Phone breakpoint
@media (max-width: 768px) {
  .aem-Grid {
    @include generate-grid(phone, $max_col);
  }
}
